* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 10px;
}
header .logo > img {
  width: 100%;
  max-width: 110px;
}
header .logo > img {
  width: 100%;
  max-width: 110px;
}
.topnav {
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}
.topnav .order_link {
  border: 1px solid #ff5600;
  border-radius: 5px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}
.topnav .icon {
  display: none;
}

/* hero section */
.hero {
  background-image: url("./assets/images/h1_hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero_content {
  max-width: 700px;
  width: 100%;
  margin: 30px;
}
.hero_content h4 {
  color: orange;
  font-weight: 600;
  padding: 10px;
  font-size: clamp(0.9rem, 1.2vw, 1.2rem);
}
.hero_content h1 {
  font-size: clamp(1.4rem, 5.5vw, 4rem);
  padding: 10px;
}
.hero_content p {
  font-size: clamp(0.9rem, 1.2vw, 1.2rem);
  padding: 10px;
}
.hero_content button {
  color: #fff;
  background-color: #ff5600;
  padding: 10px;
  margin: 10px;
  border: none;
  width: 8.5rem;
  height: 2.5rem;
  border-radius: 5px;
}

/* hero_info section */
.hero_info {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.hero_info .left {
  max-width: 700px;
  width: 100%;
  margin: 30px;
  padding: 10px;
}
.hero_info h1 {
  font-size: clamp(1.4rem, 5.5vw, 3rem);
  padding: 10px;
}
.hero_container p {
  font-size: clamp(0.9rem, 1.2vw, 1.2rem);
  padding: 10px;
}
.hero_container h4 {
  color: orange;
  font-weight: 600;
  padding: 10px;
  font-size: clamp(0.9rem, 1.2vw, 1.2rem);
}
.hero_info .left .hero_card {
  display: flex;
}
.hero_card .card {
  display: flex;
  align-items: center;
  background-color: #8080801a;
  margin: 5px;
  padding: 5px;
}
.hero_card .card img {
  width: 35px;
  height: 35px;
  margin: 10px;
}
.hero_info .right {
  padding: 20px;
}
.hero_info .right img {
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}

/* About- Restaurant */
.about_restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
.about_restaurant .right,
.about_restaurant .left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_restaurant .left {
  padding: 10px;
}
.about_restaurant .left img {
  max-width: 100%;
  flex-shrink: 0;
  height: auto;
}
.about_restaurant .right {
  max-width: 700px;
  width: 100%;
  margin: 30px;
  padding: 10px;
}
.about_restaurant h1 {
  font-size: clamp(1.4rem, 5.5vw, 3rem);
  padding: 10px;
}
.about_restaurant p {
  font-size: clamp(0.9rem, 1.2vw, 1.2rem);
  padding: 10px;
}
.about_restaurant h4 {
  color: orange;
  font-weight: 600;
  padding: 10px;
  font-size: clamp(0.9rem, 1.2vw, 1.2rem);
}
.about_restaurant button {
  border: 2px solid orange;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background: #fff;
  width: 8.5rem;
  height: 2.5rem;
}

/* Book-Table */
.book_table {
  background-image: url("./assets/images/section_bg04.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.book_table .table_header h4 {
  color: orange;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  font-size: clamp(0.9rem, 1.2vw, 1.2rem);
}
.book_table .table_header h1 {
  font-size: clamp(1.4rem, 5.5vw, 3rem);
  padding: 10px;
}
.book_table .table_container form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
.table_container input,
select {
  width: 100%;
  border: none;
  background-color: #80808014;
  margin: 20px;
  padding: 10px 40px;
}
.table_container button {
  color: #fff;
  background-color: #ff5600;
  padding: 10px;
  margin: 20px;
  border: none;
  width: 100%;
  height: 2.5rem;
  border-radius: 5px;
}

/* Service_Section */
.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}
.service .service_header h4 {
  color: orange;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  font-size: clamp(0.9rem, 1.2vw, 1.2rem);
}
.service .service_header h1 {
  font-size: clamp(1.4rem, 5.5vw, 3rem);
  padding: 10px;
}
.service .service_cards {
  display: flex;
}
.service .service_cards .card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 15rem;
  margin: 10px;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
}
.service .service_cards .card:hover {
  cursor: pointer;
  transform: scale(1.12);
  transition: 1s;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), -1px -1px 5px rgba(0, 0, 0, 0.1);
}
.service_cards .card img {
  width: 80px;
  height: 80px;
  padding: 10px;
}

/* Contact-Section */
.contact {
  background-image: url("./assets/images/section_bg03.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin: 0 auto;
}
.contact .contact_content {
  max-width: 583px;
  margin: 30px;
}
.contact_content h4 {
  color: orange;
  font-weight: 600;
  padding: 10px;
  font-size: clamp(0.9rem, 1.2vw, 1.2rem);
}
.contact_content h1 {
  font-size: clamp(1.4rem, 5.5vw, 3rem);
  padding: 10px;
}
.contact_content p {
  font-size: clamp(0.9rem, 1.2vw, 1.2rem);
  padding: 10px;
}
.contact_form {
  display: flex;
}
.contact button {
  color: #fff;
  background-color: #ff5600;
  padding: 10px;
  border: none;
  width: 100%;
  max-width: 8rem;
  height: 2.5rem;
  border-radius: 5px;
}
.contact input {
  width: 100%;
  height: 40px;
  border: none;
  padding: 10px;
}

/* Footer */
footer .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: #fff;
  padding: 10px;
  text-align: center;
}
footer .copyright p {
  padding: 10px 0px;
}

/* Media Queries */
@media (max-width: 768px) {
  .topnav {
    width: 100%;
  }
  .topnav a:not(:last-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .hero_content {
    margin: 0 auto;
  }
  .hero_info {
    flex-direction: column;
  }
  .hero_info .left .hero_card {
    flex-direction: column;
  }
  .about_restaurant,
  .book_table .table_container form,
  .service .service_cards,
  .contact .contact_form,
  footer .copyright,
  header {
    flex-direction: column;
  }
  .table_container input,
  select,
  .table_container button {
    margin: 10px;
  }
  .contact .contact_form button {
    max-width: 100%;
    margin: 10px 0px;
  }
}
